/*

Theme Name: Avada Child

Description: Child theme for Avada theme

Author: ThemeFusion

Author URI: https://theme-fusion.com

Template: Avada

Version: 1.0.0

Text Domain:  Avada

*/



#slidingbar{display:none !important;}



/* FORUMS STYLING (LAURIE WROTE THIS) */



bbpress-forums .bbp-topic-content p {

	font-size: 13px;

}



bbpress-forums .bbp-reply-content p {

    font-size: 13px;

}



bbpress-forums .bbp-forums-list li {

    font-size: 12px;

}



/*this doesn't seem to work */

.bbp-topics-front ul.super-sticky, 

.bbp-topics ul.super-sticky, 

.bbp-topics ul.sticky, 

.bbp-forum-content ul.sticky {

    background-color: #01cab2 !important;

    font-size: 13px;

	color: #ffffff;

}



/*this doesn't seem to work */

bbpress-forums .status-closed, 

bbpress-forums .status-closed a {

    color: #000 !important;

}



.product_meta {display: none !important}



img.func-um_user.gravatar.avatar.avatar-40.um-avatar.um-avatar-gravatar {

vertical-align: middle !important;

margin: 0px 5px 15px 0px !important;



}



.menu-first_nameuser_avatar_small img.func-um_user.gravatar.avatar.avatar-40.um-avatar.um-avatar-uploaded {

vertical-align: middle !important;

padding-right: 5px !important;

}

#content .flexslider .slides li {
    max-height: 375px;
}